html,
body {
    font-family: Arial;
}

.article{
    width: 55%;
    margin: 0 auto;
}

.article h1 {
    font-size: 36px;
    color: #627d81;
}

.article h2 { color: #ff9900; }

.article-KasYraAkademija,
.article-IstotiAkademija
{
  padding:0px;
}

.article-KasYraAkademija li,
.article-IstotiAkademija li
{
  font-size: 18px;
  color: #666666;
  list-style-type: none;
  display: table-row;
}

ul.article-KasYraAkademija li:before {
  content: '\2022';
  display: table-cell;
  color: #ff9900;
  padding-right: 0.5em;
}

.article-KodelAkademija {
  font-size: 18px;
  color: #666666;
}

.article-link {
    color: #627d81;
}

ul.article-IstotiAkademija li:before {
  content: "\2192";
  display: table-cell;
  color: #ff9900;
}